$primary-color: #181818;
$secondary-color: #2A2A2A;
$tertiary-color: #006BB2;
$backdrop-color: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%);
$accent-color: #27282A;
$font-color: #FFFFFF;